{% extends 'base.html' %}

{% block main_column %}
<div class="main">
    <h1> Post List </h1>
    {% if user.is_authenticated %}
        {% include 'components/new_post.html' %}
    {% endif %}
    {% for post in posts_list.0 %}
        <div>
            <h2><a href={% url "post_detail" primary_key=post.id %}>{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <span>{{ post.published_date.date }}</span>
            <span>{{ post.published_date.time }}</span>
            <p><a href={% url "post_detail" primary_key=post.id %}>Link</a></p>
        </div>
    {% endfor %}
</div>
{% endblock main_column %}
