<header>
  <div class="container">
    <a class="header-logo" href='./'>Logo<span>small text</span></a>
    <div class="menu-header-container">
      <nav id="menu-header" class="menu">
        <li id="menu-item" class="menu-item"><a href={% url "index" %}>Home</a></li>
        <li id="menu-item" class="menu-item"><a href={% url "index" %}>Files</a></li>
        <li id="menu-item" class="menu-item"><a href={% url "profile" %}>User</a></li>
        <li id="menu-item" class="menu-item"><a href={% url "login" %}>Login</a></li>
        <li id="menu-item" class="menu-item"><a href={% url "logout" %}>Logout</a></li>
      </nav>
    </div>
  </div>
</header>