*, *:before, *:after {
	box-sizing:  border-box;
}
* {
	box-sizing: border-box;
}
/* body */
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background: transparent;

	font-size: 1rem;
	line-height: 1.6;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
img {
	max-width: 100%;
	height: auto;
}

/* container  */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Header/Logo */
.header {
	padding: 60px;
	text-align: center;
	background: url("../images/header_background.png");
	background-size: cover;
	color: white;	
}
/* Header Logo */
.header h1 {
	font-size: 40px;
}

/* Navbar */
.navbar {
	overflow: hidden;
	background-color: #333;
}
/* Navbar buttons */
.navbar a {
	float:  left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;	
}
/* Right buttons */
.navbar a.right {
	float: right;
}
/* Hover buttons  */
.navbar a:hover {
	transition: 0.3s;
  background-color: #ddd;
  color: black;
}
/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* two columns */
/* Sidebar/right column */
.side {
  -ms-flex: 30%;
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* plug for images */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}


/* Buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
    background-color: RoyalBlue;
}

/* Profile */
/* avatar */
.avatar-wrapper {
	position: absolute;
	padding: 1rem;
}
.avatar {
	border-radius: 50%;
	vertical-align: top;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
}
.avatar--1 {
	width: 100%;
	height: auto;
}
.avatar--2 {}
.avatar--3 {}

/* profile header */
.user-header {
	height: 220px;
	display: block;
}
.user-profile-top {
	position: relative;
}
.user-profile-top-content {
	padding: 1rem;
	padding-left: 14rem;
}

/* profile navigation scroll */
.user-profile-bottom {
	padding-left: 14rem;
}
.user-scroll-header {
	overflow: hidden;
	height: 100%;
	width: 100%;
  border: 1px solid #4c4c4c;
  display: flex;
}
.user-scroll-header a {
	border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  transition: 0.3s;
}
.user-scroll-header a:hover {
	background-color: #4c4c4c;
	color: white;
}
.user-scroll-header a:active {
	background-color: #4c4c4c;
	color: white;
}

.tabs-button {
	text-decoration: none;
	border: 1px solid #4c4c4c;
	transition: all .2s ease; 
	font-weight: inherit;
	display: inline-block;
}
.tab-content {
	display: none;
	padding: 12px;
}

/* Responsive layout */
/* if screen less 700px .side and .main become a column */
@media screen and (max-width: 700px) {
	.avatar {
		height: 4rem;
		width: 4rem;
	}
	.user-profile-top-content {
		padding: 2px;
		font-size: 14px;
		padding-left: 6rem;
	}
	.user-profile-bottom {
		padding: 2px;
		font-size: 14px;
		padding-left: 6rem;		
	}
  .row {   
    flex-direction: column;
  }
}
/* if scree less 400px navigation links stack on top */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
